<h1>OK WE'RE AUTHED!</h1>
<br>
To come.......add some forms for adding users to text when you go roaming.
<br>

Ok, your in country code <%=@country%> ?

<br>
<br>
<%=link_to "Check if your roaming?", account_roaming_path%>


